<div class="span-24 backwhite shadow">
<br />
<fieldset>
	<legend>About</legend>
	<p>
		<strong>Jodeart Mindworks</strong> proudly brings to you this fantastic application!
	</p>
	<p>
		<%= button_to "Back", :controller => "home", :action => "index" %>
	</p>
      </fieldset>
</div>
